@using FridgeWarehouse.Mvc.Models.ViewModels
@model List<FridgeViewModel>

<div class="container">
    <div class="row">

        @Html.ActionLink("Create", "")
        <table class="table col-12">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">LoccationAddress</th>
                    <th scope="col">Products</th>
                    <th scope="col"></th>

                </tr>
            </thead>


@foreach(var mod in Model)
{
                    <tr>
                    <th scope="row">@mod.Name</th>
                    <td>@mod.LocationAddress</td>

                    <th scope="col">

                        <details>
                            <summary>Product list</summary>

                            @if(!mod.FridgeProducts.Any())
                            {
                                <p>The are no any products in this fridge</p>
                            }


                    @foreach(var product in mod.FridgeProducts)
                    {
                        <p>Product Name: @product.Product.Name</p>
                        <p>Quantity: @product.Quantity</p>

                    }
                        </details>

                    </th>
                </tr>
                <th>
                    @if(Model.Any())
                    {
                        for(int i = 0; i < Model.Count/2; i++)
                        {
                            <a>@Html.ActionLink("Remove", "", mod.Id)</a>
                            @Html.ActionLink("Edit", "");
                        }
                    }
                </th>
}
